/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

app-root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

sp-header, sp-home, sp-footer {
  display: block;
}

sp-footer {
  margin-top: auto;
}
