<div class="container mt-4">
  <h2 class="mb-4">Panel de Patrimonio</h2>

  <!-- Loading -->
  <div *ngIf="loading" class="alert alert-info text-center">
    Cargando datos...
  </div>

  <!-- Error -->
  <div *ngIf="error" class="alert alert-danger text-center">
    {{ error }}
  </div>

  <!-- Tarjetas principales -->
  <div *ngIf="!loading && !error" class="row g-4">
  <div class="col-12 col-md-4">
      <sl-info-card
        class="flex-fill"
        [label]="'Cantidad en cartera'"
        [value]="totalAmount"
        [currency]="'EUR'"
        [badgeClass]="'bg-primary-subtle text-primary fw-semibold'">
      </sl-info-card>
    </div>
  <div class="col-12 col-md-4">
      <sl-info-card
        class="flex-fill"
        [label]="'Patrimonio Total'"
        [value]="totalPatrimony"
        [currency]="'EUR'"
        [badgeClass]="'bg-success-subtle text-success fw-semibold'">
      </sl-info-card>
    </div>
  <div class="col-12 col-md-4">
  <sl-info-card
        [label]="'Edificios Comprados'"
        [value]="buildingsCount"
        [badgeClass]="'bg-primary-subtle text-primary fw-semibold'">
      </sl-info-card>
    </div>
  </div>
    </div>
